.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover {
    color: white;
    border-color: chocolate;
    background-color: chocolate;
}

.flag {
    color:white;
}




.btn-check:active {
    color: #fff;
    background-color: #1a1e21;
    border-color: #191c1f;
}

.checkcheck {
    border: 2px solid red;
}

footer{
    background: #19110b;
    font-size: 14px;
}
.first-line{
    color:white;
    border-bottom: 1px solid #392d23 ;
}

.flag {
    color:white;
}

.second-line a {
    color: white;
    text-decoration: none;
}

.third-line {
    display: none;
    color: white;
}


@media screen and (max-width:48rem) {
    .first-line {
        text-align: center;
    }
}

@media screen and (max-width:48rem) {
    .second-line {
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23 ;
    }
    .third-line {
        display:block;
    }
.third-lines {
    display: none;
}

}